.vscode
.idea
.DS_Store
.npmrc
.git
.yalc
.yalc.lock
src
scripts
node_modules
tsconfig.json
vite.config.js
tailwind.config.cjs
types/shims-vue.d.ts
pnpm-lock.yaml
yarn.lock
npm-shrinkwrap.json
index.html